@{
    ViewData["Title"] = "Home Page";
}
<style>
    td, th {
        padding: 40px;

    }
</style>
<table class="cart" border="1" style="margin-top:100px; margin-left:200px">
        <tr>
            <th>STT</th>
            <th>Title</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            
        </tr>
        </table>